body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: white
}

header {
    background-image: linear-gradient(25deg,#d64c7f,#ee4758 50%);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
    font-size: 20px;
}

h2 {
    font-size: 20px;
}

.grid-container {
    display: grid;
    height: 200px;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}

.grid-container>div {
    border: 1px solid rgba(220, 211, 211, 0.8);
    text-align: center;
    padding: 30px;
    font-size: 30px;
}


input[type=text],
select {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text2],
select {
    text-align: center;
    height: 120px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


div {
    border-radius: 5px;
    padding: 20px;
}

button {
    width: 100%;
    background-color: #31C6D4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #1a858f;
}


#card {
    margin: 5px;
    float:left;
    width: 500px;
    border-bottom: 400px;
}